# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
ENV/

# Environment variables
.env

# IDE / Editor specific
.vscode/
.idea/
fastapi_app/cloud-run.yaml
fastapi_app/deploy.ps1
/Models/Patreon/obj
fastapi_app/__init__.py
