Flask
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
# Optional: gunicorn # For production deployments
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability